<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel模板1文件上传</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <ul>
            <li></li>
        </ul>
        <table class="layui-table" id="demo1" lay-filter="demo1" disabled="">
            <h1 style="text-align: center">外 购 件 明 细</h1>
            <img src="../../layuiadmin/layui/images/face/微信图片_20200515132940.png">
            <tbody>
            <tr>
                <td width="50" style="text-align: center">组织名称</td>
                <td width="50" style="text-align: center;color: red" id="field0006"></td>
                <td width="50" style="text-align: center">组织编码</td>
                <td width="50" style="text-align: center;color: red" id="field0005"></td>
            </tr>
            <tr>
                <td width="50" style="text-align: center">项目名称</td>
                <td width="50" style="text-align: center;color: red" id="field0003"></td>
                <td width="50" style="text-align: center">项目编号</td>
                <td width="50" style="text-align: center;color: red" id="field0001"></td>
            </tr>
            <tr>
                <td width="50" style="text-align: center">项目采购清单编码</td>
                <td width="50" style="text-align: center;color: red" id="field0023"></td>
                <td width="50" style="text-align: center">工位号</td>
                <td width="50" style="text-align: center;color: red" id="field0026"></td>
            </tr>
            <tr>
                <td width="50" style="text-align: center">设备名称</td>
                <td width="50" style="text-align: center;color: red" id="field0024"></td>
                <td width="50" style="text-align: center">设备编号</td>
                <td width="50" style="text-align: center;color: red" id="field0025"></td>
            </tr>
            <tr>
                <td width="50" style="text-align: center">导入人员</td>
                <td width="50" style="text-align: center;color: red" id="field0020"></td>
                <td width="50" style="text-align: center">导入人员部门</td>
                <td width="50" style="text-align: center;color: red" id="field0021"></td>
            </tr>
            </tbody>
        </table>
        <hr>
        <table class="layui-hide" id="demo" lay-filter="demo" disabled=""></table>
    </div>
    <div style="float: right;padding-top: 5px;">
        <button type="button" class="layui-btn" id="test1">完成并发起请购单</button>
        <button type="button" class="layui-btn" id="test2">完成并待发请购单</button>
        <button type="button" class="layui-btn" id="test3">完成并关闭</button>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload', 'laydate'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , table = layui.table
            , index = parent.layer.getFrameIndex(window.name);

        $.ajax({
            url: 'MainTableTemplateI/?fileName=' + parent.layui.index.getCookie("fileName") +
                '&id=' + parent.layui.index.getCookie("formmain_id")
            , type: 'post'
            , dataType: 'json'
            , async: false
            , success: function (res) {
                if (res.code == "0") {
                    $('#field0006').html(res.data[0].field0006);
                    $('#field0005').html(res.data[0].field0005);
                    $('#field0003').html(res.data[0].field0003);
                    $('#field0001').html(res.data[0].field0001);
                    $('#field0023').html(res.data[0].field0023);
                    $('#field0026').html(res.data[0].field0026);
                    $('#field0024').html(res.data[0].field0024);
                    $('#field0025').html(res.data[0].field0025);
                    $('#field0020').html(res.data[0].field0020);
                    $('#field0021').html(res.data[0].field0021);
                }
            }
        });

        table.render({
            elem: '#demo'
            , height: 'full-10'
            , url: '/SubTableTemplateI?fileName=' + parent.layui.index.getCookie("fileName")
                + '&id=' + parent.layui.index.getCookie("formmain_id")
            , page: true
            , limit: 30
            , limits: [30, 50, 100]
            , cols: [
                [
                    {field: 'field0008', title: '序号', align: "center"}
                    , {field: 'field0012', title: '存货编码', align: "center"}
                    , {field: 'field0013', title: '存货名称', align: "center"}
                    , {field: 'field0032', title: '规格型号', align: "center"}
                    , {field: 'field0014', title: '数量', align: "center"}
                    , {field: 'field0034', title: '品牌', align: "center"}
                    , {field: 'field0033', title: '单位', align: "center"}
                    , {field: 'field0010', title: '所属分类码', align: "center"}
                    , {field: 'field0038', title: '存货分类', align: "center"}
                    , {field: 'field0041', title: '备注', align: "center"}
                ]
            ]
            , done: function (res) {
                alert(JSON.stringify(res));
            }
        });

        //完成并发起
        $('#test1').on('click', function () {
            var tableBack = table.cache["demo"];
            var lists = [];
            var tipList = {};
            tipList.field0003 = $('#field0023').html();
            tipList.field0020 = $('#field0020').html();
            tipList.field0021 = $('#field0021').html();
            tipList.field0012 = $('#field0005').html();
            tipList.field0013 = $('#field0006').html();
            tipList.field0015 = $('#field0001').html();
            tipList.field0016 = $('#field0003').html();
            tipList.data = lists;
            for (var i = 0; i < tableBack.length; i++) {
                var list = {};
                list.field0006 = tableBack[i].field0008;
                list.field0029 = tableBack[i].field0008;
                list.field0008 = tableBack[i].field0012;
                list.field0009 = tableBack[i].field0013;
                list.field0032 = tableBack[i].field0038;
                list.field0033 = $('#field0026').html();
                list.field0034 = tableBack[i].field0032;
                list.field0035 = tableBack[i].field0033;
                list.field0036 = tableBack[i].field0034;
                list.field0024 = tableBack[i].field0014;
                list.field0010 = tableBack[i].field0014;
                list.field0031 = tableBack[i].field0010;
                lists.push(list);
            }
            // alert(JSON.stringify(tipList));
            $.ajax({
                url: '/tuisongqinggou'
                , type: 'post'
                , data: JSON.stringify(tipList)
                , contentType: 'application/json; charset=utf-8'
                , dataType: 'json'
                , success: function (res) {
                    if (res.code == "0") {
                        layer.msg("发起请购单成功！");
                        parent.layer.close(index);//关闭弹出层
                    } else {
                        layer.msg("发起请购单失败！");
                    }
                }
            })
        });

        //完成并待发
        $('#test2').on('click', function () {
            var tableBack = table.cache["demo"];
            var lists = [];
            var tipList = {};
            tipList.field0003 = $('#field0023').html();
            tipList.field0020 = $('#field0020').html();
            tipList.field0021 = $('#field0021').html();
            tipList.field0012 = $('#field0005').html();
            tipList.field0013 = $('#field0006').html();
            tipList.field0015 = $('#field0001').html();
            tipList.field0016 = $('#field0003').html();
            tipList.data = lists;
            for (var i = 0; i < tableBack.length; i++) {
                var list = {};
                list.field0006 = tableBack[i].field0008;
                list.field0029 = tableBack[i].field0008;
                list.field0008 = tableBack[i].field0012;
                list.field0009 = tableBack[i].field0013;
                list.field0032 = tableBack[i].field0038;
                list.field0033 = $('#field0026').html();
                list.field0034 = tableBack[i].field0032;
                list.field0035 = tableBack[i].field0033;
                list.field0036 = tableBack[i].field0034;
                list.field0024 = tableBack[i].field0014;
                list.field0010 = tableBack[i].field0014;
                list.field0031 = tableBack[i].field0010;
                lists.push(list);
            }
            // alert(JSON.stringify(tipList));
            $.ajax({
                url: '/zancunqinggou'
                , type: 'post'
                , data: JSON.stringify(tipList)
                , contentType: 'application/json; charset=utf-8'
                , dataType: 'json'
                , success: function (res) {
                    if (res.code == "0") {
                        layer.msg("发起请购单成功！");
                        parent.layer.close(index);//关闭弹出层
                    } else {
                        layer.msg("发起请购单失败！");
                    }
                }
            })
        });

        $('#test3').on('click', function () {
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>