<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel-文件上传</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="mould1">模板1文件导入</button>
            <button type="button" class="layui-btn" id="mould2">模板2文件导入</button>
        </div>
        <hr>
        <table class="layui-table" lay-data="{type:'post',url:'/DataShow'}" id="demo" lay-filter="demo">
            <thead>
            <tr>
                <th lay-data="{field:'fileName'}">文件名</th>
                <th lay-data="{field:'produceStatus'}">生成采购清单状态</th>
                <th lay-data="{field:'requisitionStatus'}">生成请购单状态</th>
                <th lay-data="{field:'identifier'}">模板编号</th>
                <th lay-data="{field:'', width:100}">操作</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript" src="jquery/jquery-3.4.1.js"></script>
<script type="text/javascript" src="jquery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="jquery/jquery.cookie.js"></script>
<script src="../../layuiadmin/layui/layui.js"></script>

<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'upload', 'laydate', 'layer'], function () {
        var $ = layui.jquery
            , upload = layui.upload
            , table = layui.table
            , layer = layui.layer
            , index = "";

        upload.render({
            elem: '#mould1'
            , url: '/FileUpload?ID=-1697267883367969952'
                // + $.cookie('avatarImageUrl')
            , accept: 'file'
            , multiple: true
            , auto: true
            , before: function () {
                index = layer.load(4);
            }
            , done: function (res) {
                parent.layui.index.setCookie("fileName", res.data, "1");
                parent.layui.index.setCookie("formmain_id", res.msg, "1");
                if (res.code == "0") {
                    layer.msg('上传成功！');
                    layer.close(index);
                    parent.layer.open({
                        type: 2
                        , title: res.data
                        , area: ['70%', '90%']
                        , id: "div_1"
                        , shadeClose: true
                        , maxmin: true
                        , content: ['/page?url=/leading-in/TemplateUpload.html', 'yes']
                    });
                } else if (res.code == "2") {
                    layer.msg(res.msg);
                    layer.close(index);
                } else if (res.code == "3") {
                    layer.msg('上传Excel文件类型错误！');
                    layer.close(index);
                } else if (res.code == "4") {
                    layer.msg(res.msg);
                    layer.close(index);
                } else {
                    layer.msg('上传失败！');
                    layer.close(index);
                }
            }
        });

        upload.render({
            elem: '#mould2'
            , url: '/FileUpload2?name=' + parent.layui.index.getCookie("username")
            , accept: 'file'
            , multiple: true
            , auto: true
            , before: function () {
                index = layer.load(4);
            }
            , done: function (res) {
                parent.layui.index.setCookie("fileName2", res.data, "1");
                parent.layui.index.setCookie("formmain_id2", res.msg, "1");
                if (res.code == "0") {
                    layer.msg('上传成功！');
                    layer.close(index);
                    parent.layer.open({
                        type: 2
                        , title: res.data
                        , area: ['70%', '90%']
                        , id: "div_1"
                        , shade: 0
                        , maxmin: true
                        , content: ['/page?url=/leading-in/TemplateUpload2.html', 'yes']
                    });
                } else if (res.code == "2") {
                    layer.msg(res.msg);
                    layer.close(index);
                } else if (res.code == "3") {
                    layer.msg('上传Excel文件类型错误！');
                    layer.close(index);
                } else if (res.code == "4") {
                    layer.msg(res.msg);
                    layer.close(index);
                } else {
                    layer.msg('上传失败！');
                    layer.close(index);
                }
            }
        })

    });
</script>
</body>
</html>