<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>福臻供应商平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>
<body>
<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <span id="username"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                        <hr>
                        <dd layadmin-event="logout" style="text-align: center;">
                            <a href="javascript:cleanCookie();">退出</a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="about"><i
                            class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="page?url=/homepage/ProjectList.html">
                    <span>天津福臻供应商平台</span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
<!--                    <li class="layui-nav-item layui-nav-itemed" id="daoru">-->
<!--                        <a lay-href="javascript:;">-->
<!--                            <i class="layui-icon layui-icon-app"></i>项目导入-->
<!--                        </a>-->
<!--                        <dl class="layui-nav-child">-->
<!--                            <dd><a lay-href="page?url=/leading-in/UploadFile.html">Excel文件上传</a></dd>-->
<!--                        </dl>-->
<!--                    </li>-->
<!--                    <li class="layui-nav-item layui-nav-itemed" id="xunjia">-->
<!--                        <a href="javascript:;"><i class="layui-icon layui-icon-app"></i>供应商询价</a>-->
<!--                        <dl class="layui-nav-child">-->
<!--                            <dd><a lay-href="page?url=/multi/MultiBrandInquiry.html" id="xunjiaCai">多品牌询价</a></dd>-->
<!--                            <dd><a lay-href="page?url=/multi/MultiBrandInquiryWinning.html" id="xunjiaSup">多品牌询价中标</a></dd>-->
<!--                        </dl>-->
<!--                    </li>-->
                    <li class="layui-nav-item layui-nav-itemed" id="caigou">
                        <a href="javascript:;"><i class="layui-icon layui-icon-app"></i>采购需求</a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="page?url=/demand/SourcingList.html">发布新需求</a></dd>
                            <dd><a lay-href="page?url=/review/dataAudit.html">报价审核</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed" id="baojia">
                        <a lay-href="javascript:;"><i class="layui-icon layui-icon-app"></i>
                            <cite>供应商报价</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="page?url=/quotation/NotQuoted.html">未报价</a></dd>
<!--                            <dd><a lay-href="page?url=/quotation/quotedPrice2.html">已报价</a></dd>-->
<!--                            <dd><a lay-href="page?url=/quotation/quotedPrice3.html">已中标</a></dd>-->
<!--                            <dd><a lay-href="1">未中标</a></dd>-->
                        </dl>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed" id="fujian">
                        <a lay-href="javascript:;"><i class="layui-icon layui-icon-app"></i>
                            <cite>合同附件</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="">客户合同盖章附件</a></dd>
                            <dd><a lay-href="">双章合同盖章附件</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="page?url=/home/console.html"
                        lay-attr="page?url=/home/console.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show"></div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="layuiadmin/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: 'layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'element'], function () {
        var $ = layui.$
            , element = layui.element;

        var admindata = parent.layui.index.getCookie("loginName");
        if (admindata != '') {
            var status = parent.layui.index.getCookie("loginLimits_state");
            if (status == "0") {
                $('#username').html(parent.layui.index.getCookie("loginName"));
            } else if (status == "1") {
                $('#username').html(parent.layui.index.getCookie("loginName"));
                $('#baojia').attr("style", "display:none")
            } else if (status == "2") {
                $('#username').html(parent.layui.index.getCookie("loginName"));
                $('#baojia').attr("style", "display:none")
            } else {
                $('#username').html(parent.layui.index.getCookie("loginName"));
                $('#daoru').attr("style", "display:none");
                $('#caigou').attr("style", "display:none");
                $('#xunjiaSup').attr("style", "display:none");
            }
        } else {
            location.href = '/page?url=user/login';
        }
    });

    function cleanCookie() {
        parent.layui.index.delCookie("username");
        parent.layui.index.delCookie("password");
        parent.layui.index.delCookie("loginLimits_state");
        window.location.reload();
    }
</script>
</body>
</html>


