<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价-供应商</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-card-body">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">报价</label>
            <div class="layui-input-inline">
                <input type="number" name="username" id="username" lay-verify="required" placeholder="请输入"
                       autocomplete="off" class="layui-input">
            </div>
            <!--            <button type="button" class="layui-btn layui-btn-warm">折扣率转换</button>-->
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">到货日期</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="date" id="date" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
    </form>

    <div class="layui-card-header" style="text-align: center; padding-bottom:20px;">
        <button class="layui-btn" lay-submit lay-filter="submit" id="submit">提 交</button>
        <button class="layui-btn layui-btn-primary" data-type="close">关 闭</button>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form', 'laydate', 'layer'], function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , index = parent.layer.getFrameIndex(window.name);

        laydate.render({
            elem: '#date'
        });

        if (parent.layui.index.getCookie("offer") != null || parent.layui.index.getCookie("offer") != ""
            || parent.layui.index.getCookie("offer") != undefined) {
            if (parent.layui.index.getCookie("issuance_date") != null || parent.layui.index.getCookie("issuance_date") != ""
                || parent.layui.index.getCookie("issuance_date") != undefined) {
                $('#username').val(parent.layui.index.getCookie("offer"));
                $('#date').val(parent.layui.index.getCookie("issuance_date"));
            }
        } else {
            $('#username').val("0");
            $('#date').val(new Date());
        }

        $('#submit').on('click', function () {
            $.ajax({
                url: '/quotedPrice?offer=' + $('#username').val() + '&issuance_date=' + $('#date').val()
                , type: 'post'
                , data: parent.layui.index.getCookie("baojiaData")
                , dataType: 'json'
                , contentType: "application/json; charset=utf-8"
                , success: function (res) {
                    if (res.code === "0") {
                        layer.msg('报价成功！', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        }, function () {
                            window.parent.location.reload();//刷新父页面
                            parent.layer.close(index);//关闭弹出层
                            // parent.layui.index.delCookie("baojiaData");
                        });
                    } else {
                        layer.msg('报价失败！', {
                            offset: '15px'
                            , icon: 1
                            , time: 1000
                        });
                    }
                }
            })
        })
    });
</script>
</body>
</html>