<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价审核</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/layui/font/iconfont.css" media="all">
</head>
<style>
    .layui-table-cell {
        font-size: 12px;
        /*padding: 0 5px;*/
        /*height: auto;*/
        /*overflow: visible;*/
        /*text-overflow: inherit;*/
        /*white-space: normal;*/
        /*word-break: break-all;*/
    }
</style>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <a type="button" class="layui-btn layui-btn-sm" id="edit">推中标档案</a>
        <a type="button" class="layui-btn layui-btn-sm" id="return" style="float: right;margin-right: 30px">退回</a>
        <a type="button" class="layui-btn layui-btn-sm" id="winning" style="float: right;margin-right: 10px">中标</a>
        <!--        <hr>-->
        <table class="layui-hide" id="demo" lay-filter="demo"></table>
    </div>
</div>

<script type="text/html" id="offer">{{test1(d.offer)}}</script>
<script src="layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: 'layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form', 'laydate', 'layer', 'testTablePlug'], function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , tablePlug = layui.tablePlug //表格插件
            , testTablePlug = layui.testTablePlug // 测试js模块
            , renderFormSelectsIn = layui.renderFormSelectsIn // 针对form在特定场合下的渲染的封装
            , formSelects = layui.formSelects; //多选下拉插件

        table.render({
            elem: '#demo'
            , height: 'full-35'
            , url: '/selStockName?name=' + parent.layui.index.getCookie("loginName")
            // 是否开启字段筛选的记忆功能，支持true/false/'local'/'session'/其他 开启的情况下默认是session，除非显式的指定为'local'
            , colFilterRecord: true
            // 开启智能重载
            , smartReloadModel: true
            , cols: [
                [
                    {field: 'stock_code', title: '存货编码', align: "center", width: 90}
                    , {field: 'stock_name', title: '存货名称', align: "center", width: 110}
                    , {field: 'norms', title: '规格型号', align: "center", width: 100}
                    , {field: 'item_code', title: '项目编码', align: "center", width: 80}
                    , {field: 'item_name', title: '项目名称', align: "center", width: 80}
                    , {field: 'supplier_name', title: '供应商', align: "center", width: 100, filter: true}
                    , {field: 'unit', title: '单位', align: "center", width: 60}
                    , {field: 'brand', title: '品牌', align: "center", width: 60}
                    , {field: 'quantity', title: '数量', align: "center", width: 70}
                    , {field: 'offer', title: '报价', align: "center", width: 100, templet: '#offer'}
                    , {
                    field: 'a',
                    title: '是否中标',
                    // type: 'radio',
                    width: 90,
                    align: "center",
                    templet: function (row) {
                        var html = '<input type="radio" id="bid" name="' + row.stock_code + '" lay-filter="layTableRadio">';
                        return html;
                    }
                }
                    , {
                    field: 'a',
                    title: '是否退回' + '<input type="checkbox" name="layTableCheckbox" lay-skin="primary" lay-filter="layTableAllChoose">',
                    width: 100,
                    align: "center",
                    templet: function (row) {
                        var html = "<input type='checkbox' name='layTableCheckbox' lay-skin='primary' lay-filter='layTableCheckbox'>";
                        return html;
                    }
                }
                    , {
                    field: 'a', title: '历史报价', align: "center", width: 90, templet: function () {
                        return '<a type="button" class="layui-btn layui-btn-sm" lay-event="history">历史报价</a>'
                    }
                }
                    , {field: 'id', title: 'id', align: "center", hide: true}
                    , {field: 'relation_id', title: 'relation_id', align: "center", hide: true}
                    , {field: 'offer_date', title: 'offer_date', align: "center", hide: true}
                ]
            ]
            // , done: function (res) {
            //     var data = res.data;
            //     var mark = 1; //这里涉及到简单的运算，mark是计算每次需要合并的格子数
            //     var columsName = ['stock_code', 'stock_name', 'norms'];//需要合并的列名称
            //     var columsIndex = [0, 1, 2];//需要合并的列索引值
            //
            //     //这里循环所有要合并的列
            //     for (var k = 0; k < columsName.length; k++) {
            //         //这里循环表格当前的数据
            //         for (var i = 1; i < res.data.length; i++) {
            //             var trArr = $(".layui-table-body .layui-table").find("tr");//所有行
            //             var tdCurArr = trArr.eq(i).find("td").eq(columsIndex[k]);//获取当前行的当前列
            //             var tdPreArr = trArr.eq(i - 1).find("td").eq(columsIndex[k]);//获取上一行的当前列
            //             if (data[i]['RN'] != data[i - 1]['RN']) {
            //                 continue;
            //             }
            //             //后一行的值与前一行的值做比较，相同就需要合并
            //             if (data[i][columsName[k]] == data[i - 1][columsName[k]]) {
            //                 mark += 1;
            //                 if (mark > 2) {
            //                     tdPreArr = trArr.eq(i - mark + 1).find("td").eq(columsIndex[k]);
            //                 }
            //                 //上一行增加rowspan属性
            //                 tdPreArr.each(function () {
            //                     $(this).attr("rowspan", mark);
            //                     // $(this).attr("colspan", mark);
            //                 });
            //                 //当前行隐藏
            //                 tdCurArr.each(function () {
            //                     $(this).css("display", "none");
            //                 });
            //             } else {
            //                 //一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
            //                 mark = 1;
            //             }
            //         }
            //         //第一个合并完成，重置mark进行下一个合并
            //         mark = 1;
            //     }
            // }
        });

        table.on('tool(demo)', function (obj) {
            if (obj.event == 'history') {
                var data = obj.data;
                layer.open({
                    type: 2
                    , title: '历史报价'
                    , area: ['1100px', '500px']
                    , skin: 'layui-layer-rim'
                    , content: ['page?url=/quotation/quotedHistory.html', 'yes']
                    , success: function (layero, index) {
                        var body = layui.layer.getChildFrame('body', index);
                        if (data) {
                            body.find("#mainSn").val(data.id); //将选中的数据的id传到编辑页面的隐藏域，便于根据ID修改数据
                            body.find("#stock_code").val(data.stock_code);
                            body.find("#stock_name").val(data.stock_name);
                            body.find("#stock_sort").val(data.stock_sort);
                            body.find("#norms").val(data.norms);
                            body.find("#unit").val(data.unit);
                            body.find("#brand").val(data.brand);
                        }
                        setTimeout(function () {
                            layui.layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                                tips: 3
                            });
                        }, 500)
                    }
                });
            }
        });

        $('#edit').on('click', function () {
            var topLayui = parent === self ? layui : top.layui;
            topLayui.index.openTabsPage("/page?url=/review/test.html", "推送采购中标审批单");
        });

        $('#return').on('click', function () {
            var checkStatus = table.checkStatus('demo')
                , data = checkStatus.data;
            layer.confirm('<form class="layui-form layui-form-pane" action="">' +
                '<div class="layui-form-item">' +
                '<label class="layui-form-label">退回理由</label>' +
                '    <div class="layui-input-inline">' +
                '      <input type="text" id="msg" lay-verify="required" placeholder="请输入退回理由" autocomplete="off" class="layui-input">\n' +
                '    </div>' +
                '</div></form>', function (index) {
                $.ajax({
                    type: 'post'
                    , url: '/backSubquotation?msg=' + $('#msg').val()
                    , data: JSON.stringify(data)
                    , dataType: 'json'
                    , contentType: 'application/json; charset=utf-8'
                    , success: function (res) {
                        if (res.code == "0") {
                            layer.msg('退回成功！', {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            }, function () {
                                location.reload(index);
                            });
                        } else {
                            layer.msg('退回失败！', {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            });
                        }
                    }
                });
                layer.close(index);
            });
        });


        $('#winning').on('click', function () {
            var checkLength = $("input:radio[id='bid']:checked").length;
            var lists = [];
            $("input:radio[id='bid']").each(function () {
                //遍历radio的选择状态
                if ($(this).is(':checked') && $(this).closest('tr').find('td').eq(1).text() != "") {
                    //如果值为checked表明选中了
                    var list = {};
                    list.stock_code = $(this).closest('tr').find('td').eq(0).text();
                    list.stock_name = $(this).closest('tr').find('td').eq(1).text();
                    list.norms = $(this).closest('tr').find('td').eq(2).text();
                    list.item_code = $(this).closest('tr').find('td').eq(3).text();
                    list.item_name = $(this).closest('tr').find('td').eq(4).text();
                    list.supplier_name = $(this).closest('tr').find('td').eq(5).text();
                    list.unit = $(this).closest('tr').find('td').eq(6).text();
                    list.brand = $(this).closest('tr').find('td').eq(7).text();
                    list.quantity = $(this).closest('tr').find('td').eq(8).text();
                    list.offer = $(this).closest('tr').find('td').eq(9).text();
                    list.id = $(this).closest('tr').find('td').eq(13).text();
                    list.relation_id = $(this).closest('tr').find('td').eq(14).text();
                    list.offer_date = $(this).closest('tr').find('td').eq(15).text();
                    lists.push(list);
                    console.log($(this).closest('tr').find('td').eq(9).text().split(".")[1])
                }
            });
            // layer.alert(JSON.stringify(lists));
            layer.confirm('是否选择该数据？', function (index) {
                $.ajax({
                    type: 'post'
                    , url: '/WhetherOrNotSel'
                    , data: JSON.stringify(lists)
                    , dataType: 'json'
                    , contentType: 'application/json; charset=utf-8'
                    , success: function (res) {
                        if (res.code == "0") {
                            layer.msg('选择成功！', {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            }, function () {
                                location.reload(index);
                            });
                        } else {
                            layer.msg(res.msg, {
                                offset: '15px'
                                , icon: 1
                                , time: 1000
                            });
                        }
                    }
                });
                layer.close(index);
            });
        });
    });

    //小数位为4
    function test1(str) {
        if (!str) str = "0.0000";
        let ret = Math.round(parseFloat(str) * 10000) / 10000;
        if (str.split(".").length === 1) {
            return ret.toString() + ".0000";
        }
        var decimal = str.split(".")[0];
        var floats = str.split(".")[1].substring(0, 4);
        return decimal + "." + floats;
    }
</script>
</body>
</html>