<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报价审核</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>
<div class="layui-card">
    <div class="layui-card-body">
        <a type="button" class="layui-btn" id="edit">汇总</a>
        <hr>
        <table class="layui-hide" id="demo" lay-filter="demo"></table>
    </div>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form', 'laydate', 'layer'], function () {
        var $ = layui.$
            , table = layui.table
            , form = layui.form
            , layer = layui.layer
            , laydate = layui.laydate
            , index = parent.layer.getFrameIndex(window.name);

        table.render({
            elem: '#demo'
            , height: 'full-95'
            , url: '/selStockName?name=' + parent.layui.index.getCookie("loginName")
            , cols: [
                [
                    {field: 'stock_code', title: '存货编码', align: "center", width: 140}
                    , {field: 'stock_name', title: '存货名称', align: "center", width: 160}
                    , {field: 'norms', title: '规格', align: "center", width: 160}
                    , {field: 'item_code', title: '项目编码', align: "center", width: 160}
                    , {field: 'item_name', title: '项目名称', align: "center", width: 160}
                    , {field: 'brand', title: '品牌', align: "center", width: 80}
                    , {field: 'unit', title: '单位', align: "center", width: 60}
                    , {field: '', title: '操作', align: "center", width: 125, templet: function () {
                        return '<a type="button" class="layui-btn layui-btn-sm" lay-event="chooseZhong">选择中标供应商</a>'
                    }}
                ]
            ]
        });


        $('#edit').on('click', function () {
            var topLayui = parent === self ? layui : top.layui;
            topLayui.index.openTabsPage("/page?url=/review/test.html", "推送采购中标审批单");
        });


        table.on('tool(demo)', function (obj) {
            if (obj.event === 'chooseZhong') {
                var data = obj.data;
                parent.layui.index.setCookie("stock_id", data.id, "1");
                parent.layer.open({
                    type: 2
                    , title: data.stock_name + "的供应商"
                    , area: ['800px', '600px']
                    , skin: 'layui-layer-rim'
                    , content: ['/page?url=/review/ChooseQuo.html', 'yes']
                });
            }
        });

    });
</script>
</body>
</html>